<label for="qb"><input id="qb" type="checkbox" checked> QBs</label>
<label for="rb"><input id="rb" type="checkbox" checked> RBs</label>
<label for="wr"><input id="wr" type="checkbox" checked> WRs</label>
<label for="te"><input id="te" type="checkbox" checked> TEs</label>
<label for="k"><input id="k" type="checkbox" checked> Ks</label>
<label for="dst"><input id="dst" type="checkbox" checked> DSTs</label>

<table id="adp">
  <thead>
    <tr>
      <th>Overall Rank</th>
      <th>Position Rank</th>

      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Bye Week</th>
      <th>Quarterback</th>
      <th>Depth Chart</th>
      
      <th>Overall Draft Pick</th>

      <th>'13 Fantasy Pts</th>
      <th>'14 Projected Pts</th>
      <th>'13 Pts/Week</th>
      <th>'14 Pts/Week</th>
      
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player|  %>
      <tr id="player<%=player.id%>" class="<%= player.position.downcase %>">
        <td><%= player.overall_rank.to_i != 0 ? player.overall_rank.to_i : 300 %></td>
        <td><%= player.position_rank %></td>

        <td><%= player.display_name %></td>
        <td><%= player.position %></td>
        <td><%= player.team_abbreviation %></td>
        <td><%= player.bye_week.to_i %></td>
        <td><%= player.quarterback ? player.quarterback : "" %></td>
        <td><%= player.depth_chart_position ? player.depth_chart_position : "" %></td>

        <td><%= player.overall_draft_position.to_i %></td>
        
        <td><%= player.season_stat ? player.season_stat.fantasy_points : "" %></td>
        <td><%= player.season_projection ? player.season_projection.fantasy_points  : "" %></td>
        <td><%= player.season_stat ? player.season_stat.fantasy_points_per_week : "" %></td>
        <td><%= player.season_projection ? player.season_projection.fantasy_points_per_week : "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">
  
  $(document).ready(function () {

    $('input[type="checkbox"]').on("click", function () {
      a = $(this).attr("id");
      $('.'+a).fadeToggle();
    });

    $('tr').click(function (e) {
      $(this).toggleClass("highlight");
    });

    $.fn.dataTableExt.oSort['text-blankslast-asc'] = function (x, y) {  
       x = (x == "") ? String.fromCharCode(255) : x;  
       y = (y == "") ? String.fromCharCode(255) : y;  
       return ((x < y) ? -1 : ((x > y) ? 1 : 0));  
    };  

    $.fn.dataTableExt.oSort['text-blankslast-desc'] = function (x, y) {  
       x = (x == "") ? String.fromCharCode(0) : x;  
       y = (y == "") ? String.fromCharCode(0) : y;  
       return ((x < y) ? 1 : ((x > y) ? -1 : 0));  
    };  

    $('#adp').dataTable({
      "iDisplayLength" : -1,
      "paging": false,
      "info": false,

      "aoColumns": [
        null,
        null,
        null,
        null,
        null,
        null,
        {"sType": "text-blankslast"},
        {"sType": "text-blankslast"},
        null,
        { "asSorting": [ "desc", "asc" ] },
        { "asSorting": [ "desc", "asc" ] },
        { "asSorting": [ "desc", "asc" ] },
        { "asSorting": [ "desc", "asc" ] }
      ]

    });

    
  });


</script>