<label for="qb"><input id="qb" type="checkbox" checked> QBs</label>
<label for="rb"><input id="rb" type="checkbox" checked> RBs</label>
<label for="wr"><input id="wr" type="checkbox" checked> WRs</label>
<label for="te"><input id="te" type="checkbox" checked> TEs</label>
<label for="k"><input id="k" type="checkbox" checked> Ks</label>
<label for="dst"><input id="dst" type="checkbox" checked> DSTs</label>

<table id="adp">
  <thead>
    <tr>
      <th>Overall DP</th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Bye Week</th>
      <th>2013 FPoints</th>
      <th>Projected FPoints</th>
      <th>Position DP</th>
      <th>Depth Chart</th>
      <th>Quarterback</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player|  %>
      <tr id="player<%=player.id%>" class="<%= player.position.downcase %>">
        <td><%= player.overall_draft_position.to_i %></td>
        <td><%= player.display_name %></td>
        <td><%= player.position %></td>
        <td><%= player.team_abbreviation %></td>
        <td><%= player.bye_week.to_i %></td>
        <td><%= player.season_stat ? player.season_stat.fantasy_points.to_f : "" %></td>
        <td><%= player.season_projection ? player.season_projection.fantasy_points.to_f : "" %></td>
        <td><%= player.position_draft_position.to_i %></td>
        <td><%= player.depth_chart_position ? player.depth_chart_position : "" %></td>
        <td><%= player.quarterback ? player.quarterback : "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">
  
  $(document).ready(function () {

    $('input[type="checkbox"]').on("click", function () {
      a = $(this).attr("id");
      $('.'+a).fadeToggle();
    });

    $('tr').click(function (e) {
      $(this).toggleClass("highlight");
    });

    $('#adp').dataTable({
      "iDisplayLength" : -1,
      "paging": false,
      "info": false
    });
    
  });


</script>