<div class="col-sm-1 col-md-1 cheatsheetSidebarNav" id="sidebarNav">
  <div class="row-fluid">
    
      <button type="button" id="QB" class="btn cheatsheetButtons btn-success">QBs</button>
      <button type="button" id="RB" class="btn cheatsheetButtons btn-success">RBs</button>
      <button type="button" id="WR" class="btn cheatsheetButtons btn-success">WRs</button>
      <button type="button" id="TE" class="btn cheatsheetButtons btn-success">TEs</button>
      <button type="button" id="K" class="btn cheatsheetButtons btn-success">Ks</button>
      <button type="button" id="DST" class="btn cheatsheetButtons btn-success">DSTs</button>
      <button type="button" id="ALL" class="btn cheatsheetButtons btn-success">All</button>

  </div>
</div>


<div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 cheatsheetMain" id="main">
  <br>
  <div class="row-fluid">
    <div class="span12">
  <center>
      <table id="indexTable">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Pos.<br>Rank</th>

            <th>Name</th>
            <th>Pos.</th>
            <th>Team</th>
            <th>Bye</th>
            <th>Quarterback</th>
            <th>Depth<br>Chart</th>
            
            <th>ODP</th>
            <th>SOS Rank</th>
            <th>SOS FPA/Week</th>


            <th>'13 Points</th>
            <th>'14 Projected</th>
            <th>'13 Pts/Week</th>
            <th>'14 Pts/Week</th>
            
          </tr>
        </thead>
        <tbody>
          <% @players.each do |player|  %>
            <tr id="player<%=player.id%>" class="playerRow <%= player.position %>">
              <td><%= player.overall_rank.to_i != 0 ? player.overall_rank.to_i : 300 %></td>
              <td><%= player.position_rank %></td>

              <td><%= player.display_name %></td>
              <td><%= player.position %></td>
              <td><%= player.team_abbreviation %></td>
              <td><%= player.bye_week.to_i %></td>
              <td><%= player.quarterback ? player.quarterback : "" %></td>
              <td><%= player.depth_chart_position ? player.depth_chart_position : "" %></td>

              <td><%= player.overall_draft_position.to_i != 0 ? player.overall_draft_position.to_i : 300 %></td>

              <% case player.position%>
              <% when "QB"%>
                <td><%= player.season_projection ? player.season_projection.sos_qb_rank : "" %></td>
                <td><%= player.season_projection ? player.season_projection.sos_qb_fpa : "" %></td>
              <% when "RB"%>
                <td><%= player.season_projection ? player.season_projection.sos_rb_rank : "" %></td>
                <td><%= player.season_projection ? player.season_projection.sos_rb_fpa : "" %></td>
              <% when "WR"%>
                <td><%= player.season_projection ? player.season_projection.sos_wr_rank : "" %></td>
                <td><%= player.season_projection ? player.season_projection.sos_wr_fpa : "" %></td>
              <% when "TE"%>
                <td><%= player.season_projection ? player.season_projection.sos_te_rank : "" %></td>
                <td><%= player.season_projection ? player.season_projection.sos_te_fpa : "" %></td>
              <% else %>
                <td> </td>
                <td> </td>
              <% end %>

              
              <td><%= player.season_stat ? player.season_stat.fantasy_points : "" %></td>
              <td><%= player.season_projection ? player.season_projection.fantasy_points  : "" %></td>
              <td><%= player.season_stat ? player.season_stat.fantasy_points_per_week : "" %></td>
              <td><%= player.season_projection ? player.season_projection.fantasy_points_per_week : "" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </center>
    </div>
  </div>
<br><br>




</div>










<script type="text/javascript">
  
  $(document).ready(function () {

    


    // position selector buttons 
    $('.btn.cheatsheetButtons').on("click", function () {

      position = $(this).attr("id");
      $('.'+position).fadeToggle();

      if ($(this).hasClass('btn-success')) {

        $(this).removeClass('btn-success');
        $(this).addClass('btn-danger');

      } else {

        $(this).addClass('btn-success');
        $(this).removeClass('btn-danger');

      }

    });

    // select all functionality
    $('.btn.cheatsheetButtons').on("click",function () {
      // check if all button was pressed 
      if ($(this).prop('id') === "ALL") {
        // check if all button is sucess 
        if ($(this).hasClass('btn-success')){
          // make all buttons success and show all players
          $('.btn.cheatsheetButtons').each(function () {
            $(this).removeClass('btn-danger');
            $(this).addClass('btn-success');
          });
          $('.playerRow').show();

        } else {
          // all buttons danger and hide all players
          $('.btn.cheatsheetButtons').each(function () {
            $(this).removeClass('btn-success');
            $(this).addClass('btn-danger');
          });
          $('.playerRow').hide();

        }

      }

    });

    // add highlight class to row on click
    $('tr').click(function (e) {
      $(this).toggleClass("highlight");
    });

    $('tr').dblclick(function (e) {
      var htmlID = $(this).prop('id')
      var playerID = htmlID.slice(6);
      window.open('/players/' + playerID, '_blank');

    });

    $.fn.dataTableExt.oSort['text-blankslast-asc'] = function (x, y) {  
       x = (x == "") ? String.fromCharCode(255) : x;  
       y = (y == "") ? String.fromCharCode(255) : y;  
       return ((x < y) ? -1 : ((x > y) ? 1 : 0));  
    };  

    $.fn.dataTableExt.oSort['text-blankslast-desc'] = function (x, y) {  
       x = (x == "") ? String.fromCharCode(0) : x;  
       y = (y == "") ? String.fromCharCode(0) : y;  
       return ((x < y) ? 1 : ((x > y) ? -1 : 0));  
    };  

    $('#indexTable').dataTable({
      "iDisplayLength" : -1,
      "paging": false,
      "info": false,
      "bAutoWidth" : false,
      "aoColumns": [
        {"sWidth": "5%"},
        {"sWidth": "5%"},
        {"sWidth": "12%"},
        {"sWidth": "4%"},
        {"sWidth": "5%"},
        {"sWidth": "3%"},
        {"sType": "text-blankslast", "sWidth":"14%"},
        {"sType": "text-blankslast", "sWidth": "5%"},
        {"sWidth": "5%"},
        {"sWidth": "7%"},
        {"sWidth": "7%"},
        {"asSorting": [ "desc", "asc" ], "sWidth": "7%"},
        {"asSorting": [ "desc", "asc" ], "sWidth": "7%" },
        {"asSorting": [ "desc", "asc" ], "sWidth": "7%" },
        {"asSorting": [ "desc", "asc" ], "sWidth": "7%" }
      ]

    });

    $('#indexTable').on('search.dt', function () {
      $('.btn.cheatsheetButtons').each(function () {
        $(this).removeClass('btn-danger');
        $(this).addClass('btn-success');
      });
      $('.playerRow').show();
    });


    
  });


</script>