<div class="row">
  <div class="span6 checkboxes">
    <label class="cheatsheetChecks" for="qb"><input id="qb" type="checkbox" checked> QBs</label>
    <label class="cheatsheetChecks" for="rb"><input id="rb" type="checkbox" checked> RBs</label>
    <label class="cheatsheetChecks" for="wr"><input id="wr" type="checkbox" checked> WRs</label>
    <label class="cheatsheetChecks" for="te"><input id="te" type="checkbox" checked> TEs</label>
    <label class="cheatsheetChecks" for="k"><input id="k" type="checkbox" checked> Ks</label>
    <label class="cheatsheetChecks" for="dst"><input id="dst" type="checkbox" checked> DSTs</label>
    <label class="cheatsheetChecks" for="select"><input id="select" type="checkbox" checked> All</label>  
  </div>
</div>

<div class="row">
  <div class="span12">
<center>
    <table id="indexTable">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Pos.<br>Rank</th>

          <th>Name</th>
          <th>Pos.</th>
          <th>Team</th>
          <th>Bye</th>
          <th>Quarterback</th>
          <th>Depth<br>Chart</th>
          
          <th>ODP</th>

          <th>'13 Points</th>
          <th>'14 Projected</th>
          <th>'13 Pts/Week</th>
          <th>'14 Pts/Week</th>
          
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player|  %>
          <tr id="player<%=player.id%>" class="playerRow <%= player.position.downcase %>">
            <td><%= player.overall_rank.to_i != 0 ? player.overall_rank.to_i : 300 %></td>
            <td><%= player.position_rank %></td>

            <td><%= player.display_name %></td>
            <td><%= player.position %></td>
            <td><%= player.team_abbreviation %></td>
            <td><%= player.bye_week.to_i %></td>
            <td><%= player.quarterback ? player.quarterback : "" %></td>
            <td><%= player.depth_chart_position ? player.depth_chart_position : "" %></td>

            <td><%= player.overall_draft_position.to_i %></td>
            
            <td><%= player.season_stat ? player.season_stat.fantasy_points : "" %></td>
            <td><%= player.season_projection ? player.season_projection.fantasy_points  : "" %></td>
            <td><%= player.season_stat ? player.season_stat.fantasy_points_per_week : "" %></td>
            <td><%= player.season_projection ? player.season_projection.fantasy_points_per_week : "" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</center>
  </div>
</div>

<script type="text/javascript">
  
  $(document).ready(function () {

    $('input[type="checkbox"]').on("click", function () {
      if ($(this).parent().prop('for') == 'select'){

        if (this.checked){
          $('input[type="checkbox"]').each(function () {
            this.checked = true;
          });
            $('.playerRow').show();
        } else {
          $('input[type="checkbox"]').each(function () {
            this.checked = false;
          });
            $('.playerRow').hide();
        }
      }
    });

    $('input[type="checkbox"]').on("click", function () {
      a = $(this).attr("id");
      $('.'+a).fadeToggle();
    });

    $('tr').click(function (e) {
      $(this).toggleClass("highlight");
    });

    $.fn.dataTableExt.oSort['text-blankslast-asc'] = function (x, y) {  
       x = (x == "") ? String.fromCharCode(255) : x;  
       y = (y == "") ? String.fromCharCode(255) : y;  
       return ((x < y) ? -1 : ((x > y) ? 1 : 0));  
    };  

    $.fn.dataTableExt.oSort['text-blankslast-desc'] = function (x, y) {  
       x = (x == "") ? String.fromCharCode(0) : x;  
       y = (y == "") ? String.fromCharCode(0) : y;  
       return ((x < y) ? 1 : ((x > y) ? -1 : 0));  
    };  

    $('#indexTable').dataTable({
      "iDisplayLength" : -1,
      "paging": false,
      "info": false,
      "bAutoWidth" : false,
      "aoColumns": [
        {"sWidth": "5%"},
        {"sWidth": "5%"},
        {"sWidth": "12%"},
        {"sWidth": "5%"},
        {"sWidth": "5%"},
        {"sWidth": "5%"},
        {"sType": "text-blankslast", "sWidth":"14%"},
        {"sType": "text-blankslast", "sWidth": "5%"},
        {"sWidth": "5%"},
        { "asSorting": [ "desc", "asc" ], "sWidth": "9%"},
        { "asSorting": [ "desc", "asc" ], "sWidth": "9%" },
        { "asSorting": [ "desc", "asc" ], "sWidth": "9%" },
        { "asSorting": [ "desc", "asc" ], "sWidth": "9%" }
      ]

    });

    $('#indexTable').on('search.dt', function () {
      $('input[type="checkbox"]').each(function () {
        this.checked = true;
      });
      $('.playerRow').show();
    });


    
  });


</script>