<!-- full width row -->
<div class="row">
  <!-- game data -->
  <div class="col-sm-6 col-md-6 text-center">
    <!-- game -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Game</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Tackles for Loss</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["defense_tackles_for_loss"] ? @stat["defense_tackles_for_loss"] : "----" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Sacks</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["defense_sacks"] ? @stat["defense_sacks"] : "----" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>QB Hits</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["defense_qb_hits"] ? @stat["defense_qb_hits"] : "----" %></p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Interceptions</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["defense_interceptions"] ? @stat["defense_interceptions"] : "----" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Fumble Recoveries</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["defense_fumble_recoveries"] ? @stat["defense_fumble_recoveries"] : "----" %></p>
      </div>
    </div>
    
  </div>

  <!-- scoring and fantasy data -->
  <div class="col-sm-6 col-md-6 text-center">
    <!-- scoring -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Scoring</h6>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Safeties</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["defense_safeties"] ? @stat["defense_safeties"] : "----" %></p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Touchdowns</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["defense_touchdowns"] ? @stat["defense_touchdowns"] : "----" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Return TDs</p>    
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["defense_return_touchdowns"] ? @stat["defense_return_touchdowns"] : "----" %></p>
      </div>
    </div>

    <!-- fantasy -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Fantasy</h6>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Fantasy Points</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["fantasy_points"] ? @stat["fantasy_points"] : "----" %></p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>FPoints Allowed</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["defense_points_allowed"] ? @stat["defense_points_allowed"] : "----" %></p>
      </div>
    </div>

  </div>

</div>