<!-- full width row -->
<div class="row">

  <!-- field goals and extra points data -->
  <div class="col-sm-6 col-md-6">
    <!-- field goals -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h5>Field Goals</h5> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Made</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["field_goals_made"] ? @projection["field_goals_made"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Attempts</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["field_goals_attempts"] ? @projection["field_goals_attempts"] : "----" %></p>
      </div>
    </div>

    <!-- extra points -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h5>Extra Points</h5> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Made</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["extra_points_made"] ? @projection["extra_points_made"] : "----" %></p>
      </div>
    </div>
  </div>

  <!-- fantasy data -->
  <div class="col-sm-6 col-md-6"> 

    <!-- fantasy -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h5>Fantasy</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Fantasy Points</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["fantasy_points"] ? @projection["fantasy_points"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>FPts/Week</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["fantasy_points_per_week"] ? @projection["fantasy_points_per_week"] : "----" %></p>
      </div>
    </div>

  </div>
  
</div>