<div class="col-sm-12 col-md-12">

  <!-- full width header -->
  <div class="row text-center">
    <div class="col-sm-12 col-md-12">
      <hr class="stats-divider">
      <h5>2014 Projections</h5>
      <hr class="stats-divider">
    </div>
  </div>

  <!-- projections and sos -->
  <div class="row">
    <!-- projections header -->
    <div class="col-sm-6 col-md-6">
      <div class="row text-center">
        <div class="col-sm-12 col-md-12">
          <h5 class="stat-category">Projections</h5>
        </div>
      </div>

      <% case @player.position %>
      <% when "QB" %>
        <%= render "qb_projection" %>
      <% when "RB" %>
        <%= render "rb_projection" %>
      <% when "WR" %>
        <%= render "wr_projection" %>
      <% when "TE" %>
        <%= render "te_projection" %>
      <% when "K" %>
        <%= render "k_projection" %>
      <% end %>
      
    </div>


    <!-- strength of schedule header -->
    <div class="col-sm-6 col-md-6">
      <div class="row text-center">
        <div class="col-sm-12 col-md-12">
          <h5 class="stat-category">Strength of Schedule</h5>
        </div>
      </div>
      <%= render 'sos' %>
    </div>
  </div>

</div>