<!-- full width row -->
<div class="row">

<!-- passing data -->
  <div class="col-sm-6 col-md-6">
    <!-- passing -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Passing</h6> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Completions</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["pass_completions"] ? @projection["pass_completions"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Attempts</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["pass_attempts"] ? @projection["pass_attempts"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Yards</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right"  >
        <p><%= @projection["pass_yards"] ? @projection["pass_yards"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Touchdowns</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["pass_touchdowns"] ? @projection["pass_touchdowns"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Interceptions</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["pass_interceptions"] ? @projection["pass_interceptions"] : "----" %></p>
      </div>
    </div>

  </div>

  <!-- rushing and fantasy data -->
  <div class="col-sm-6 col-md-6">
    <!-- rushing -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Rushing</h6> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Attempts</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["rush_attempts"] ? @projection["rush_attempts"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Yards</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["rush_yards"] ? @projection["rush_yards"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Touchdowns</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right"  >
        <p><%= @projection["rush_touchdowns"] ? @projection["rush_touchdowns"] : "----" %></p>
      </div>
    </div>

    <!-- fantasy -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Fantasy</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Fumbles</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["fumbles"] ? @projection["fumbles"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Fantasy Points</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["fantasy_points"] ? @projection["fantasy_points"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>FPts/Week</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["fantasy_points_per_week"] ? @projection["fantasy_points_per_week"] : "----" %></p>
      </div>
    </div>

  </div>

</div>