<div class="row-fluid">

  <div class="span12">
      <p class="text-center">Rushing</p>
  </div>

</div>

<div class="row-fluid">

  <div class="span8">
    <p>Attempts</p>
    <p>Yards</p>
    <p>Yards/Attempt</p>
    <p>Touchdowns</p>
  </div>

  <div class="span4">
    <p><%= @stat["rush_attempts"] ? @stat["rush_attempts"] : "----" %></p>
    <p><%= @stat["rush_yards"] ? @stat["rush_yards"] : "----" %></p>
    <p><%= @stat["rush_yards_per_attempt"] ? @stat["rush_yards_per_attempt"] : "----" %></p>
    <p><%= @stat["rush_touchdowns"] ? @stat["rush_touchdowns"] : "----" %></p>
  </div>

</div>



<div class="row-fluid">

  <div class="span12">
      <p class="text-center">Receiving</p>
  </div>

</div>

<div class="row-fluid">

  <div class="span8">
    <p>Targets</p>
    <p>Receptions</p>
    <p>Yards</p>
    <p>Touchdowns</p>
    <p>Completion %</p>
  </div>

  <div class="span4">
    <p><%= @stat["receive_targets"] ? @stat["receive_targets"] : "----" %></p>
    <p><%= @stat["receive_receptions"] ? @stat["receive_receptions"] : "----" %></p>
    <p><%= @stat["receive_yards"] ? @stat["receive_yards"] : "----" %></p>
    <p><%= @stat["receive_touchdowns"] ? @stat["receive_touchdowns"] : "----" %></p>
    <p><%= @stat["receive_completion_percent"] ? @stat["receive_completion_percent"] : "----" %></p>
  </div>

</div>


<div class="row-fluid">

  <div class="span12">
      <p class="text-center">Fantasy</p>
  </div>

</div>

<div class="row-fluid">

  <div class="span8">
    <p>Fumbles</p>
    <p>Fumbles Lost</p>
    <p>Fantasy Points</p>
    <p>Fantasy Points/Week</p>
  </div>

  <div class="span4">
    <p><%= @stat["fumbles"] ? @stat["fumbles"] : "----" %></p>
    <p><%= @stat["fumbles_lost"] ? @stat["fumbles_lost"] : "----" %></p>
    <p><%= @stat["fantasy_points"] ? @stat["fantasy_points"] : "----" %></p>
    <p><%= @stat["fantasy_points_per_week"] ? @stat["fantasy_points_per_week"] : "----" %></p>
  </div>

</div>