<div class="row">
  <div class="col-sm-6 col-md-6 text-center">
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Games Played</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_games_played"] ? @stat["snap_games_played"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Snap Totals</h6> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Snaps Played</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_snaps"] ? @stat["snap_snaps"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Snaps Played/Game</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_snaps_per_game"] ? @stat["snap_snaps_per_game"] : "----" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Snaps Played Percent</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_percent"] ? @stat["snap_percent"] : "----" %></p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category" class="text-center">Fantasy</h6> 
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Fantasy Points/Snap Percentage</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_fantasy_points_percent"] ? @stat["snap_fantasy_points_percent"] : "----" %></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-6 text-center">
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Percentages</h6> 
      </div>
    </div>
      
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Rush/Snap Percentage</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_rush_percent"] ? @stat["snap_rush_percent"] : "----" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Target/Snap Percentage</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_target_percent"] ? @stat["snap_target_percent"] : "----" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Reception/Snap Percentage</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_reception_percent"] ? @stat["snap_reception_percent"] : "----" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Touch/Snap Percentage</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_touch_percent"] ? @stat["snap_touch_percent"] : "----" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Intended Touch/Snap Percentage</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @stat["snap_util_percent"] ? @stat["snap_util_percent"] : "----" %></p>
      </div>
    </div>

  </div>

</div>
