<div class="row-fluid">
  <div class="span12">
    <p class="text-center">Quarterback</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <p>Rank</p>
    <p>Fantasy Points Allowed</p>
  </div>
  <div class="span4">
    <p><%= @projection["sos_qb_rank"] %>
    <p><%= @projection["sos_qb_fpa"] %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <p class="text-center">Runningbacks</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <p>Rank</p>
    <p>Fantasy Points Allowed</p>
  </div>
  <div class="span4">
    <p><%= @projection["sos_rb_rank"] %>
    <p><%= @projection["sos_rb_fpa"] %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <p class="text-center">Wide Receivers</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <p>Rank</p>
    <p>Fantasy Points Allowed</p>
  </div>
  <div class="span4">
    <p><%= @projection["sos_wr_rank"] %>
    <p><%= @projection["sos_wr_fpa"] %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <p class="text-center">Tight Ends</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <p>Rank</p>
    <p>Fantasy Points Allowed</p>
  </div>
  <div class="span4">
    <p><%= @projection["sos_te_rank"] %>
    <p><%= @projection["sos_te_fpa"] %>
  </div>
</div>