<!-- full width row -->
<div class="row">

<!-- quarterbacks -->
  <div class="col-sm-6 col-md-6 text-center">
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Quarterback</h6> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Rank</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["sos_qb_rank"] %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>FPts Allowed</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["sos_qb_fpa"] %></p>
      </div>
    </div>

    <!-- wide receivers -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Wide Receivers</h6> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Rank</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["sos_wr_rank"] %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>FPts Allowed</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["sos_wr_fpa"] %></p>
      </div>
    </div>
  </div>


  <!-- running backs and tight ends -->
  <div class="col-sm-6 col-md-6 text-center">
    <!-- running backs -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Running Backs</h6> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Rank</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["sos_rb_rank"] %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>FPts Allowed</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["sos_rb_fpa"] %></p>
      </div>
    </div>
    <!-- tight ends -->
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <h6 class="stat-category">Tight Ends</h6> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>Rank</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["sos_te_rank"] %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 text-left">
        <p>FPts Allowed</p>
      </div>
      <div class="col-sm-4 col-md-4 text-right">
        <p><%= @projection["sos_te_fpa"] %></p>
      </div>
    </div>
  </div>

</div>

