<div class="row-fluid">
  <div class="span12">
    <h5 class="text-left">'13 Stats</h5>
  </div>
</div>
<hr>

<% case @player.position %>
<% when "QB" %>
  <%= render "qb_stat" %>
<% when "RB" %>
  <%= render "rb_stat" %>
<% when "WR" %>
  <%= render "wr_stat" %>
<% when "TE" %>
  <%= render "te_stat" %>
<% when "K" %>
  <%= render "k_stat" %>
<% when "DST" %>
  <%= render "dst_stat" %>
<% else %>
<% end %>