<h3>All Players </h3>

<div class="container">
<select id ="e1" style="width : 300px">
  <option></option>
  <optgroup label="Quarterbacks" class="QB">
    <% @qbs.each do |qb| %>
      <option value = "<%= qb[0] %>"><%= qb[1] %></option>
    <% end %>
  </optgroup>
  <optgroup label="Running Backs" class="RB">
    <% @rbs.each do |rb| %>
      <option value = "<%= rb[0] %>"><%= rb[1] %></option>
    <% end %>
  </optgroup>
  <optgroup label="Wide Receivers" class="WR">
    <% @wrs.each do |wr| %>
      <option value = "<%= wr[0] %>"><%= wr[1] %></option>
    <% end %>
  </optgroup>
  <optgroup label="Tight Ends" class="TE">
    <% @tes.each do |te| %>
      <option value = "<%= te[0] %>"><%= te[1] %></option>
    <% end %>
  </optgroup>
  <optgroup label="Kickers" class="K">
    <% @ks.each do |k| %>
      <option value = "<%= k[0] %>"><%= k[1] %></option>
    <% end %>
  </optgroup>
  <optgroup label="Defense" class="Defense">
    <% @dsts.each do |dst| %>
      <option value = "<%= dst[0] %>"><%= dst[1] %></option>
    <% end %>
  </optgroup>
  <optgroup label="Other" class="Other">
    <% @others.each do |other| %>
      <option value = "<%= other[0] %>"><%= other[1] %></option>
    <% end %>
  </optgroup>
</select>
</div>

<br>
<%= link_to "ODP", overall_draft_position_path  %><br>
<%= link_to "Compare", compare_path  %><br>
<%= link_to "Laboratory", compare_laboratory_path  %><br>

<p>Selected muthafuckas: <span id="selectedText"></span></p>

<script type="text/javascript">
  
  $(document).ready(function () {
    $("#e1").select2({
      placeholder: "Select a Player",
      allowClear: true
    });
  });

  $("#e1").change(function() {
    var theID = $('#e1').select2('data').id
    var theText = $('#e1').select2('data').text;
    $('#selectedText').append('<br><a href="/players/'+theID +'">' + theText + '</a>')
  });

  $('input[type="checkbox"]').on("click", function () {
    position = $(this).parent().data("for");
    $('.'+position)
  });  

  function RenderOptGroup() {

  }
</script>

