<div class="col-xs-12 col-sm-12 col-md-12 background-image-container-container">
  <div class="row background-image-container">
    <!-- sidebar  -->
    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 showSidebarNav" id="sidebarNav">
      <div class="row-fluid index-search-box text-center" id="search-box-step">
        <!-- select box using Select2 -->
        <select id ="index-select-box" style="width:90%">
          <option></option>
          <optgroup label="Quarterbacks" class="QB">
            <% @quarterbacks.each do |qb| %>
              <option value = "<%= qb.id %>"><%= qb.display_name %></option>
            <% end %>
          </optgroup>
          <optgroup label="Running Backs" class="RB">
            <% @runningbacks.each do |rb| %>
              <option value = "<%= rb.id %>"><%= rb.display_name %></option>
            <% end %>
          </optgroup>
          <optgroup label="Wide Receivers" class="WR">
            <% @receivers.each do |wr| %>
              <option value = "<%= wr.id %>"><%= wr.display_name %></option>
            <% end %>
          </optgroup>
          <optgroup label="Tight Ends" class="TE">
            <% @tightends.each do |te| %>
              <option value = "<%= te.id %>"><%= te.display_name %></option>
            <% end %>
          </optgroup>
          <optgroup label="Kickers" class="K">
            <% @kickers.each do |k| %>
              <option value = "<%= k.id %>"><%= k.display_name %></option>
            <% end %>
          </optgroup>
          <optgroup label="Defenses" class="DST">
            <% @defenses.each do |dst| %>
              <option value = "<%= dst.id %>"><%= dst.display_name %></option>
            <% end %>
          </optgroup>
          <optgroup label="Other" class="Other">
            <% @others.each do |other| %>
              <option value = "<%= other.id %>"><%= other.display_name %></option>
            <% end %>
          </optgroup>
        </select>
      </div>

      <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="news-step">
          <div class="row-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <hr id="news-divider">
              <h5 id="news-header">Recent League News</h5>
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 league-news">
              <!-- league news appends here -->
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- main view -->
    <div class="col-xs-8 col-xs-offset-4 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 index-background-img" id="main">
      <h1 class="main-page-title text-center"><u><b><em id="main-title-step">Fantasy Fiend</em></b></u></h1>
      <div class="row-fluid reference-logo-container">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <%= image_tag('fantasy-data-logo-small-dark-white.png', class: 'reference-logos pull-left') %>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <%= image_tag('fantasypros.png', class: 'reference-logos pull-right') %>
        </div>
      </div>
    </div>

  </div>

</div>



<script type="text/javascript">

  

// function startIntro(){
//   var intro = introJs();
//     intro.setOptions({
//       steps: [
//         {
//           element: '#step1',
//           intro: "This is a <b>bold</b> tooltip."
//         },
//         {
//           element: '#step2',
//           intro: "Ok, <i>wasn't</i> that fun?",
//           position: 'right'
//         },
//         {
//           element: '#step3',
//           intro: 'More features, more <span style="color: red;">f</span><span style="color: green;">u</span><span style="color: blue;">n</span>.',
//           position: 'left'
//         },
//         {
//           element: '#step4',
//           intro: "<span style='font-family: Tahoma'>Another step with new font!</span>",
//           position: 'bottom'
//         },
//         {
//           element: '#step5',
//           intro: '<strong>Get</strong> it, <strong>use</strong> it.'
//         }
//       ]
//     });

//     intro.start();
// }

$(document).ready(function () {

  // Select2 search box initialization
  $('#index-select-box').select2('destroy').select2({
    placeholder: "Select a Player",
    allowClear: true
  });

  // opens new player in same window when selected through searchbox
  $(document).on('change','#index-select-box', function() {
    var theID = $('#index-select-box').select2('data').id
    console.log("theID", theID);
    window.open('/players/'+theID, "_self");

  });



  var g = {
        espn_key: "<%= ENV["ESPNKEY"] %>"
      };

  var newsUrl = 'http://api.espn.com/v1/fantasy/football/news?apikey='+g.espn_key;
  $.ajax(newsUrl, {
    type: 'GET',
    success: function (data) {
      console.log("data", data);
      var data = data.headlines;
      $('.league-news').empty();
      if (data.length === 0) {
        $('.league-news').append("No News");
      }
      $.each(data, function (index, item) {
          var html = '<a href="'+item.links.web.href+'" target="_blank"><h6>- ' + item.headline + '</h6></a>';
          $('.league-news').append(html);
      });
      $('.league-news').append('<hr id="news-divider">');
      $('.league-news').append('<%= image_tag('espn-red_50.png', class: "pull-left") %>');


    }
  });




  var intro = introJs();
  intro.setOptions({
    overlayOpacity: 0.7,
    showStepNumbers: false,
    steps: [
      {
        element: '#main-title-step',
        intro: "Welcome to Fantasy Fiend. Here's a quick tutorial to get you started. You can click anywhere to exit to the site.",
        position: 'left'
      },
      {
        element: '#search-box-step',
        intro: 'Search any player to see all the info that Fantasy Fiend has on him.',
        position: 'right'
      },
      {
        element: '#news-step',
        intro: "Stay up to date with the most recent news from around the NFL provided by ESPN.",
        position: 'right'
      },
      {
        element: '#cheatsheet-step',
        intro: "Sort players by their overall or positional rank, projected draft positions, and a couple more crucial stats.",
        position: 'left'
      },
      {
        element: '#draft-breakdown-draft-step',
        intro: "Breakdown this years draft trends like never before with interactive charts.",
        position: 'left'
      },
      {
        element: '#draft-breakdown-players-step',
        intro: "Not sure which player to choose... Compare any 3 players side by side to see who has the edge in '14 projections, '13 stats, and '13 snaps.",
        position: 'left'
      },
      {
        element: '#home-button-step',
        intro: "That'it! No matter where you are, you can click here to come back to this screen. Good luck!!!",
        position: 'right'
      }
    ]
  });
  $('.nav li.dropdown').addClass('open');
  intro.onexit(function () {
    $('.nav li.dropdown').removeClass('open');
  });
  intro.oncomplete(function () {
    $('.nav li.dropdown').removeClass('open');
  });

  intro.start();
});


</script>
