<div class="row-fluid">

  <div class="span1">
  
    <div class="row-fluid">
      <div class="span12">
        <%= image_tag "logos/" + @player.team_abbreviation.upcase + ".gif" %>
      </div>
    </div>    

  </div>

  <div class="span4">

    <div class="row-fluid">
      <div class="span12">
        <h2><%= @player.display_name %> (<%=@player.position%>)</h2>
        <h3><%= @player.team %> (<%= @player.team_abbreviation %>)</h3>
      </div>
    </div>

  </div>

  <div class="span7">

    <div class="row-fluid">
      <div class="span12 text-center">
        <table>
          <thead>
            <tr>
              <th style="width:13%">Bye Week</th>
              <th style="width:15%">Depth Chart</th>
              <th style="width:15%">Overall Rank</th>
              <th style="width:15%">Position Rank</th>
              <th style="width:21%">Overall Draft Pick</th>
              <th style="width:21%">Position Draft Pick</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @player.bye_week ? @player.bye_week : "----" %></td>
              <td><%= @player.depth_chart_position ? @player.depth_chart_position : "----" %></td>
              <td><%= @player.overall_rank ? @player.overall_rank : "----" %></td>
              <td><%= @player.position_rank ? @player.position_rank : "----" %></td>
              <td><%= @player.overall_draft_position ? @player.overall_draft_position : "----" %></td>
              <td><%= @player.position_draft_position ? @player.position_draft_position : "----" %></td>
            </tr>
          </tbody>
        </table>  

      </div>
    </div>

  </div>

</div>

<hr>

<div class="row-fluid all_stats">

  <div class="span2">

    <div class="row-fluid">
      <div class="span12">
        <h5 class="text-left">2014 Projections</h5>
      </div>
    </div>
    <hr>

    <!-- render -->
    <% case @player.position %>
    <% when "QB" %>
      <%= render "qb_projection" %>
    <% when "RB" %>
      <%= render "rb_projection" %>
    <% when "WR" %>
      <%= render "wr_projection" %>
    <% when "TE" %>
      <%= render "te_projection" %>
    <% when "K" %>
      <%= render "k_projection" %>
    <% else %>
    <% end %>
    <!-- render -->

  </div>



  <div class="span2">

    <div class="row-fluid">
      <div class="span12">
        <h5 class="text-left">2013 Stats</h5>
      </div>
    </div>
    <hr>

    <% case @player.position %>
    <% when "QB" %>
      <%= render "qb_stat" %>
    <% when "RB" %>
      <%= render "rb_stat" %>
    <% when "WR" %>
      <%= render "wr_stat" %>
    <% when "TE" %>
      <%= render "te_stat" %>
    <% when "K" %>
      <%= render "k_stat" %>
    <% when "DST" %>
      <%= render "dst_stat" %>
    <% else %>
    <% end %>


  </div>


  <div class="span2">

    <div class="row-fluid">
      <div class="span12">
        <h5 class="text-left">2013 Snaps</h5>
      </div>
    </div>
    <hr>

    <% if @player.position != "DST" && @player.position != "K"%>
      <%= render "snap" %>
    <% end %>

  </div>


  <div class="span2">

    <div class="row-fluid">
      <div class="span12">
        <h5 class="text-left">Strength of Schedule</h5>
      </div>
    </div>
    <hr>

   <%= render "sos" %>

  </div>

  <div class="span4">
  </div>

</div>

<br><br>

