<h2><%= @player.display_name %> (<%=@player.position%>) </h3>
<h3><%= @player.team %> (ByeWeek: <%= @player.bye_week %>)</h4>
<%= image_tag "logos/" + @player.team_abbreviation.upcase + ".gif" %>

<br>

<% if @projections != nil %>
  <h4>Projections</h4>
  <ul>
  <% @projections.attributes.each do |key, value| %>
    <% if value != nil %>
      <li><%= key %>: <%= value %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
<br>

<% if @stats != nil %>
  <h4>2013 Stats</h4>
  <ul>
  <% @stats.attributes.each do |key, value| %>
    <% if value != nil %>
      <li><%= key %>: <%= value %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
<br>